tests/integration_tests/data/cbeta_xml/dtd/cbetaxml.dtd

<!-- CBETA project DTD, generated with FRED 31.12.98  (CW)

converted to XML form 2.1.99 (CW)

-->
<!--  A TEI document is a text preceded by a TEI header.       -->
<!ELEMENT TEI.2 (teiHeader, text)>
<!ELEMENT teiHeader 
	(fileDesc, encodingDesc*, profileDesc*, revisionDesc?) >
<!ELEMENT fileDesc (titleStmt, (editionStmt)?, (extent)?, publicationStmt, (sourceDesc)+)>
<!ELEMENT titleStmt (((title)+, (author | respStmt)*))>
<!ELEMENT editionStmt (edition)>
<!ELEMENT edition (#PCDATA | date)*>
<!ELEMENT extent (#PCDATA | address | date | name | corr | gloss | term | title | ref | xref | anchor)*>
<!ATTLIST extent
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "extent"
>
<!--  5.2.4:  The publication statement                        -->
<!ELEMENT publicationStmt (distributor, availability, date)>
<!ELEMENT distributor (name+, address)>
<!ELEMENT availability (p)>
<!--  5.2.7:  The source description                           -->
<!ELEMENT sourceDesc (bibl+, p?)>
<!--  5.3:  The encoding description                           -->
<!ELEMENT encodingDesc (projectDesc, witList?)>
<!--  5.3.1:  The project description                          -->
<!ELEMENT projectDesc (p+)>
<!--  5.4 The Profile Description -->
<!ELEMENT profileDesc 
	(creation?, langUsage*, textClass*) >
<!ATTLIST profileDesc 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "profileDesc" >
<!ELEMENT creation 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >
<!ATTLIST creation 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "creation" >

<!ELEMENT langUsage 
	(p | language)+ >
<!ATTLIST langUsage 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "langUsage" >

<!ELEMENT language 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >
<!ATTLIST language 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	wsd ENTITY #IMPLIED
	usage CDATA #IMPLIED
	TEIform CDATA "language" >

<!ELEMENT textClass 
	(classCode | catRef | keywords)* >
<!ATTLIST textClass 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "textClass" >

<!ELEMENT keywords 
	(term+ | list) >
<!ATTLIST keywords 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	scheme IDREF #IMPLIED
	TEIform CDATA "keywords" >

<!ELEMENT classCode 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >
<!ATTLIST classCode 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	scheme IDREF #IMPLIED
	TEIform CDATA "classCode" >

<!ELEMENT catRef 
	EMPTY >
<!ATTLIST catRef 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	target IDREFS #REQUIRED
	scheme IDREF #IMPLIED
	TEIform CDATA "catRef" >
	
<!--  5.5:  The Revision Description                           -->
<!ELEMENT revisionDesc (change)+>
<!ELEMENT change (date, respStmt, item)>
<!--  6.1:  Paragraph                                          -->
<!ELEMENT p (#PCDATA | anchor | app | corr | fan | figure | foreign | gaiji | l | lb | lg | note | pb | sic | skgloss | span | table | term | tt | xref | jl_byline | jl_juan | jl_title | mulu | sd | ruby | sup)*>
<!ATTLIST p
	id ID #IMPLIED
	n CDATA #IMPLIED
	loc CDATA #IMPLIED
	lang CDATA #IMPLIED
	type CDATA #IMPLIED
	rend CDATA #IMPLIED
	place CDATA #IMPLIED
>
<!ELEMENT foreign 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | eg | bibl | biblFull | figure | cit | q | label 
	| list | listBibl | note | stage | table | text | anchor 
	| gap | index | interp | interpGrp | lb | milestone | pb | gaiji)* >
<!ATTLIST foreign 
	cert CDATA #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	place CDATA #IMPLIED
	resp CDATA #IMPLIED
	TEIform CDATA "foreign" >

<!--  6.3.4:  Highlighted phrases (cont'd)                     -->
<!ELEMENT term (#PCDATA | gaiji | lb | pb | app | fan | note | anchor)*>
<!ATTLIST term
	rend CDATA #IMPLIED
	lang CDATA #IMPLIED
>
<!-- GLOSS is from the TEI set, but the attribute alt has been added (CW, 18.11.98) -->
<!ELEMENT gloss (#PCDATA | corr | gaiji | skgloss)*>
<!ATTLIST gloss
	n CDATA #IMPLIED
	alt CDATA #IMPLIED
>
<!-- SKGLOSS is added by CBETA -->
<!ELEMENT skgloss (gloss, term)>
<!ATTLIST skgloss
	n CDATA #IMPLIED
>
<!--  6.4.1:  Proper Nouns                                     -->
<!ELEMENT name (#PCDATA)>
<!ATTLIST name
	type CDATA #IMPLIED
	lang CDATA #IMPLIED
>
<!--  6.4.2:  Addresses and their components                   -->
<!ELEMENT address (addrLine)>
<!ELEMENT addrLine (#PCDATA)>
<!--  6.4.4:  Dates and times                                  -->
<!ELEMENT date (#PCDATA | lb | pb | gaiji | app | note | p)*>
<!--  6.5.1:  Editorial tags for correction                    -->
<!-- CORR is from the TEI set, but the attributes cf1, cf2 has been added (CW, 1.7.98) -->
<!ELEMENT corr (#PCDATA | gaiji | xref | anchor | lb | note | term)*>
<!ATTLIST corr
	cf1 CDATA #IMPLIED
	cf2 CDATA #IMPLIED
	resp CDATA #IMPLIED
	cert CDATA #IMPLIED
	sic CDATA #IMPLIED
>
<!ELEMENT sic (#PCDATA | app | corr | gaiji | head | xref | anchor | l | lb | note | p | pb | sic | term)*>
<!ATTLIST sic
	cf1 CDATA #IMPLIED
	cf2 CDATA #IMPLIED
	resp CDATA #IMPLIED
	cert CDATA #IMPLIED
	corr CDATA #IMPLIED
	n CDATA #IMPLIED
>

<!--  6.6:  Simple cross references                            -->
<!ELEMENT ref (#PCDATA | address | date | name | corr | gloss | term | title | ref | xref | anchor | bibl | list | note | figure | table | text)*>
<!ATTLIST ref
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	crdate CDATA #IMPLIED
	targType CDATA #IMPLIED
	targOrder (Y | N | U) "U"
	evaluate (all | one | none) #IMPLIED
	target IDREFS #IMPLIED
	TEIform CDATA "ref"
>
<!--  6.7:  Lists and List Items                               -->
<!-- <!ELEMENT list (head?, (item | gaiji | lb | milestone | pb)*)> -->
<!ELEMENT list (#PCDATA | anchor | app | head | item | gaiji | lb | milestone | note | pb | table | p)*>
<!ATTLIST list
	id ID #IMPLIED
	type CDATA #IMPLIED
	lang CDATA #IMPLIED
	rend CDATA #IMPLIED
>
<!ELEMENT item (#PCDATA | anchor | byline | figure | gaiji | lb | list | app | pb | corr | note | p | ref | sic | title | jl_title | jl_juan | jl_byline)*>
<!ATTLIST item
	id ID #IMPLIED
	n CDATA #IMPLIED
	rend CDATA #IMPLIED
>
<!ELEMENT jl_title (#PCDATA | gaiji | note | app | lb | pb | anchor | sic)*>
<!ATTLIST jl_title
	type CDATA #IMPLIED
>
<!ELEMENT jl_juan (#PCDATA | note | app | lb | pb)*>
<!ATTLIST jl_juan
	n CDATA #IMPLIED
>
<!ELEMENT jl_byline (#PCDATA | lb | pb | note | app | gaiji | anchor)*>
<!ATTLIST jl_byline
	type CDATA #IMPLIED
>
<!ELEMENT head (#PCDATA | app | skgloss | corr | foreign | gaiji | lb | pb | note | anchor | title | l | sic | tt | sd | figure )*>
<!ATTLIST head
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
>
<!--  6.8.1:  Annotation                                       -->
<!ELEMENT note (#PCDATA | anchor | app | figure | p | corr | foreign | gaiji | note | skgloss | gloss | term | lb | list | pb | lg | l | fan | sic | tt | todo | xref | jl_byline | jl_juan | jl_title | table | sd)*>
<!ATTLIST note
	n CDATA #IMPLIED
	lang CDATA #IMPLIED
	resp CDATA #IMPLIED
	type CDATA #IMPLIED
	place CDATA #IMPLIED
>
<!--  6.9.3:  Milestone tags  -->
<!ELEMENT pb EMPTY>
<!ATTLIST pb
	ed CDATA #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
>
<!ELEMENT milestone EMPTY>
<!ATTLIST milestone
	id ID #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	ed CDATA #IMPLIED
	n CDATA #IMPLIED
	unit CDATA #REQUIRED
	TEIform CDATA "milestone"
>
<!ELEMENT lb EMPTY>
<!ATTLIST lb
	id ID #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	ed CDATA #IMPLIED
	n CDATA #IMPLIED
	TEIform CDATA "lb"
>
<!--  6.10.1:  Tags for Bibliographic References               -->
<!ELEMENT bibl (#PCDATA)>
<!ATTLIST bibl
	lang CDATA #IMPLIED
>
<!ELEMENT title (#PCDATA | anchor | gaiji | app | foreign | note | lb | pb | sic | skgloss | corr | tt | sd)*>
<!ATTLIST title
	type CDATA #IMPLIED
	lang CDATA #IMPLIED
>
<!ELEMENT respStmt (resp | name)*>
<!ELEMENT resp (#PCDATA)>
<!--  6.10.2.2:  Tags for Bibliographic References (cont'd)    -->
<!ELEMENT author (#PCDATA | address | date | name | corr | gaiji | gloss | term | title | ref | xref | anchor)*>
<!ATTLIST author
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "author"
>
<!--  6.11.1:  Verse                                           -->
<!ELEMENT l (#PCDATA | gaiji | skgloss | corr | app | figure | foreign | note | lb | pb | sic | term | tt | anchor | sd)*>
<!ATTLIST l
	rend CDATA #IMPLIED
>
<!ELEMENT lg (#PCDATA | gaiji | label | lb | l | pb | app | anchor | skgloss | gloss | term | head | p | note | sic | tt | sd )*>
<!ATTLIST lg
	id ID #IMPLIED
	type CDATA #IMPLIED
	rend CDATA #IMPLIED
	place CDATA #IMPLIED
>

<!ELEMENT sp 
	((anchor | gap | index | interp | interpGrp | lb | milestone 
	| pb)*, (speaker, (anchor | gap | index | interp | interpGrp 
	| lb | milestone | pb)*)?, ((p | l | lg | ab | seg | stage), 
	(anchor | gap | index | interp | interpGrp | lb | milestone 
	| pb)*)+) >
<!ATTLIST sp 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	who IDREFS #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "sp" >

<!--  7:  Top-level parts of default structure                 -->
<!ELEMENT text (body)>
<!ATTLIST text
	rend CDATA #IMPLIED
>
<!ELEMENT body (app | gaiji | lb | pb | head | juan | byline | div1 | milestone | mulu | note)*>

<!--  7.1.2:  Numbered divisions                               -->
<!ELEMENT div1 (#PCDATA | div2 | dialog | entry | head | p | lg | juan | gaiji | lb | pb | byline | trailer | app | list | anchor | corr | mulu | xref | milestone | note | table | tt | sd | annals)*>
<!ATTLIST div1
	type CDATA #IMPLIED
	n CDATA #IMPLIED
	rend CDATA #IMPLIED
>
<!ELEMENT div2 (#PCDATA | div3 | anchor | app | byline | dialog | entry | figure | gaiji | head | jhead | juan | lb | lg | list | milestone | mulu | note | p | pb | trailer | xref | table | tt | sd | annals)*>
<!ATTLIST div2
	type CDATA #IMPLIED
	n CDATA #IMPLIED
	rend CDATA #IMPLIED
>
<!ELEMENT div3 (#PCDATA | div4 | anchor | dialog | entry | head | p | lg | milestone | juan | jhead | gaiji | lb | list | note | pb | byline | trailer | app | mulu | xref | table | tt | sd)*>
<!ATTLIST div3
	type CDATA #IMPLIED
	n CDATA #IMPLIED
>
<!ELEMENT div4 (#PCDATA | div5 | anchor | dialog | entry | head | p | lg | milestone | juan | jhead | gaiji | lb | list | note | pb | byline | trailer | app | mulu | table | tt | xref | sd)*>
<!ATTLIST div4
	type CDATA #IMPLIED
	n CDATA #IMPLIED
>
<!ELEMENT div5 (#PCDATA | div6 | anchor | dialog | entry| head | p | lg | juan | jhead | gaiji | lb | list | note | pb | byline | trailer | app | mulu | milestone | table | tt | sd)*>
<!ATTLIST div5
	type CDATA #IMPLIED
	n CDATA #IMPLIED
>
<!ELEMENT div6 (#PCDATA | div7 | anchor | dialog | entry | head | p | lg | juan | jhead | gaiji | lb | list | note | pb | byline | trailer | app | mulu | milestone | table | tt | sd)*>
<!ATTLIST div6
	type CDATA #IMPLIED
	n CDATA #IMPLIED
>
<!ELEMENT div7 (#PCDATA | div8 | anchor | dialog | head | p | lg | juan | jhead | gaiji | lb | list | note | pb | byline | trailer | app | milestone | mulu | table | tt | sd)*>
<!ATTLIST div7
	type CDATA #IMPLIED
	n CDATA #IMPLIED
>
<!ELEMENT div8 (#PCDATA | anchor | dialog | head | p | lg | juan | jhead | gaiji | lb | list | note | pb | byline | trailer | app | mulu | milestone | table | tt | sd)*>
<!ATTLIST div8
	type CDATA #IMPLIED
	n CDATA #IMPLIED
>
<!--  7.2.4:  Tags for start and end of divisions              -->
<!ELEMENT trailer (#PCDATA | anchor | gaiji | lb | corr | app | title | pb | note | head)*>
<!ELEMENT byline (#PCDATA | app | gaiji | lb | pb | corr | foreign | note | anchor | sic | tt | jl_byline | sd)*>
<!ATTLIST byline
	type CDATA #IMPLIED
>

<!--  12:  Print Dictionaries -->
<!ELEMENT entry (form | def | lb | pb)*>
<!ATTLIST entry
	rend CDATA #IMPLIED
	place CDATA #IMPLIED
>
<!ELEMENT form (#PCDATA | anchor | app | figure | gaiji | lb | note | p | pb | tt | term | sd | ruby)*>
<!ELEMENT def (#PCDATA | gaiji | lb | lg | list | p | pb)*>

<!--  14.2.1:  Extended pointers                               -->
<!-- XREF is from the TEI set, but the attributes loc, rend has been added (Chou, Ray, 2000/9/5 10:18AM) -->
<!ELEMENT xref (#PCDATA | anchor | app | lb | note)*>
<!ATTLIST xref
	doc CDATA #IMPLIED
	loc CDATA #IMPLIED
	rend CDATA #IMPLIED
>
<!--  14.3:  Segments and Anchors                              -->
<!ELEMENT anchor EMPTY>
<!ATTLIST anchor
	id ID #IMPLIED
	n CDATA #IMPLIED
	type CDATA #IMPLIED
>
<!--  22:  Tables, Formulae, Figures                           -->
<!--  22.1.1:  Tables                                          -->
<!-- ELEMENT table ((head)*, (row)+)>			-->
<!ELEMENT table (head | lb | pb | row)*>
<!ATTLIST table
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	rows CDATA #IMPLIED
	cols CDATA #IMPLIED
	border CDATA #IMPLIED
	TEIform CDATA "table"
>
<!ELEMENT row ((cell | table | pb | lb)+)>
<!ATTLIST row
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	role CDATA "data"
	TEIform CDATA "row"
>
<!ELEMENT cell (#PCDATA | app | address | date | name | corr | gloss | term | title | ref | xref | anchor | bibl | list | note | figure | sic | table | text | p | pb | lb | gaiji)*>
<!ATTLIST cell
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	role CDATA "data"
	rows CDATA "1"
	cols CDATA "1"
	TEIform CDATA "cell"
>
<!--  22.3:  Figures  -->
<!ELEMENT figure EMPTY>
<!ATTLIST figure
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	entity ENTITY #IMPLIED
	TEIform CDATA "figure"
>
<!ELEMENT app (lem?, rdg+)>
<!-- type, source attributes are added by Ray -->
<!ATTLIST app
	type CDATA #IMPLIED
	source CDATA #IMPLIED
	wit CDATA #IMPLIED
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	from IDREF #IMPLIED
	to IDREF #IMPLIED
	yuan CDATA #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	word-count CDATA #IMPLIED
	TEIform CDATA "app"
>
<!ELEMENT lem (#PCDATA | anchor | app | div1 | div2 | figure | gaiji | item | lb | milestone | byline | note | l | pb | skgloss | lg | fan | foreign | head | p | juan | title | list | corr | mulu | sic | term | tt | xref | jl_title | jl_juan | jl_byline | jhead | sd)*>
<!ATTLIST lem
	wit CDATA #IMPLIED
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	from IDREF #IMPLIED
	to IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	resp CDATA #IMPLIED
	cf1 CDATA #IMPLIED
	cf2 CDATA #IMPLIED
	TEIform CDATA "lem"
>

<!ELEMENT rdg (#PCDATA | figure | gaiji | lb | note | fan | p | todo | l | tt)*>
<!-- resp attribute is added by CBETA -->
<!ATTLIST rdg
	type CDATA #IMPLIED
	cf1 CDATA #IMPLIED
	cf2 CDATA #IMPLIED
	wit CDATA #IMPLIED
	resp CDATA #IMPLIED
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	from IDREF #IMPLIED
	to IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "rdg"
>
<!ELEMENT span (#PCDATA | gaiji | lb | app | pb)*>
<!ATTLIST span
	id ID #IMPLIED
	n CDATA #IMPLIED
	rend CDATA #IMPLIED
>

<!ELEMENT label (#PCDATA)*>

<!-- CBETA specific elements -->
<!ELEMENT witList (witness)+>
<!ELEMENT witness (#PCDATA | note)*>
<!ATTLIST witness
	sigil CDATA #IMPLIED
	included CDATA #IMPLIED
>
<!ELEMENT jhead (#PCDATA | app | corr | foreign | gaiji | lb | pb | note | anchor | sic | skgloss | title | tt | sd)*>
<!ATTLIST jhead
	type CDATA #IMPLIED
>
<!ELEMENT juan (#PCDATA | anchor | skgloss | app | corr | gaiji | lb | pb | note | jhead | head | byline | title | mulu)*>
<!ATTLIST juan
	fun CDATA #IMPLIED
	n CDATA #IMPLIED
	place CDATA #IMPLIED
>
<!ELEMENT fan (#PCDATA | anchor | zi | yin)*>
<!ELEMENT zi (#PCDATA | anchor | app | lb | note | gaiji | sic | yin)*>
<!ELEMENT sg (#PCDATA | anchor | app | note | gaiji | corr | lb | sic)*>
<!ATTLIST sg
	type CDATA #IMPLIED
>
<!ELEMENT yin (#PCDATA | anchor | app | lb | note | gaiji | zi | sg | pb)*>
<!ATTLIST yin
	yuan CDATA #IMPLIED
>
<!ELEMENT gaiji (#PCDATA)>
<!ATTLIST gaiji
	id ID #IMPLIED
	mojikyo CDATA #IMPLIED
	mofont CDATA #IMPLIED
	mochar CDATA #IMPLIED
	uniflag CDATA #IMPLIED
	cb CDATA #IMPLIED
	des CDATA #IMPLIED
	uni CDATA #IMPLIED
	nor CDATA #IMPLIED
	sdchar CDATA #IMPLIED
	rjchar CDATA #IMPLIED
	big5 CDATA #IMPLIED
	cbdia CDATA #IMPLIED
	udia CDATA #IMPLIED
	cx CDATA #IMPLIED
>
<!ELEMENT mulu (#PCDATA)>
<!ATTLIST mulu
	id ID #IMPLIED
	type CDATA #IMPLIED
	level CDATA #IMPLIED
	n CDATA #IMPLIED
	label CDATA #IMPLIED
>
<!ELEMENT tt (#PCDATA | anchor | t | lb)*>
<!ATTLIST tt
	type CDATA #IMPLIED
	rend CDATA #IMPLIED
	n CDATA #IMPLIED
	word-count CDATA #IMPLIED
	place CDATA #IMPLIED
>
<!ELEMENT t (#PCDATA | corr | foreign | gaiji | yin | app | note | lb | l | lg | anchor | pb | sic | title)*>
<!ATTLIST t
	lang CDATA #IMPLIED
	place CDATA #IMPLIED
	repeat CDATA #IMPLIED
	resp CDATA #IMPLIED
	rend CDATA #IMPLIED
	cert CDATA #IMPLIED
>
<!ELEMENT todo EMPTY>
<!ATTLIST todo
	type CDATA #IMPLIED
>
<!ELEMENT dialog (sp | lb | pb)*>
<!ATTLIST dialog
	type CDATA #IMPLIED
>
<!ELEMENT sd (#PCDATA | lb | pb | anchor | gaiji)*>
<!ATTLIST sd
	type CDATA #IMPLIED
>
<!ELEMENT ruby (#PCDATA | lb | pb | rb | rt | gaiji | app | note)*>
<!ATTLIST ruby
	type CDATA #IMPLIED
>
<!ELEMENT rb (#PCDATA | lb | pb | gaiji | app | note)*>
<!ATTLIST rb
	type CDATA #IMPLIED
>
<!ELEMENT rt (#PCDATA | lb | pb | gaiji | app | note)*>
<!ATTLIST rt
	type CDATA #IMPLIED
>
<!ELEMENT annals (#PCDATA | lb | pb | date | event | gaiji | app | note)*>
<!ATTLIST annals
	type CDATA #IMPLIED
>
<!ELEMENT event (#PCDATA | lb | pb | gaiji | app | note | p)*>
<!ATTLIST event
	type CDATA #IMPLIED
>
<!ELEMENT sup (#PCDATA)>
<!ATTLIST sup
	type CDATA #IMPLIED
>
<!-- Notations -->
<!NOTATION doc SYSTEM "uedit32.exe">
<!NOTATION GIF SYSTEM "acdsee32.exe">
